# 1. Get Structured data from reviews

In [1]:
#Feature Extraction
#Extract some 2/3-grams phrases 
#Foods and service

In [1]:
import pandas as pd
file = pd.read_csv("./Chinese_review.csv")

In [2]:
file

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,business_index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,text_token,text_length,bigram,trigram,bigram_length,trigram_length
0,0,0,0,0,QXAEGFB4oINsVuTFxEYKFQ,0,2017-01-27 21:54:30,2,6W0MQHmasK0IsaoDo4bmkw,3.0,My girlfriend and I went for dinner at Emerald...,3,2K62MJ4CJ19L8Tp5pRfjfQ,"['girlfriend', 'went', 'dinner', 'emerald', 'c...",241,"[('emerald', 'chinese'), ('thursday', 'night')...","[('emerald', 'chinese', 'after'), ('thursday',...",79,78
1,1,1,1,0,QXAEGFB4oINsVuTFxEYKFQ,0,2013-06-24 23:11:30,0,BeeBfUxvzD4qNX4HxrgA5g,3.0,We've always been there on a Sunday so we were...,0,A0kENtCCoVT3m7T35zb2Vg,"['always', 'sunday', 'hoping', 'saturday', 'di...",86,"[(""we've"", 'always'), ('saturday', 'dim'), ('d...","[(""we've"", 'always', 'been'), ('saturday', 'di...",10,10
2,2,2,2,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-01-04 12:59:22,0,A1D2kUnZ0HTroFreAheNSg,3.0,"***No automatic doors, not baby friendly!*** I...",0,SuOLY03LW5ZcnynKhbTydA,"['***no', 'automatic', 'doors', 'not', 'baby',...",44,"[('no', 'automatic'), ('automatic', 'doors'), ...","[('no', 'automatic', 'doors'), ('automatic', '...",15,14
3,3,3,3,0,QXAEGFB4oINsVuTFxEYKFQ,0,2014-05-09 02:38:43,0,2pf45Stf-pNew-xgTababQ,1.0,"Horrible service,\r\r\r\nI went there tonight ...",1,lymyUak6KNcNKoDbK87MiQ,"['horrible', 'service', 'went', 'tonight', 'bo...",223,"[('horrible', 'service'), ('orders', 'bok'), (...","[('horrible', 'service', 'i'), ('orders', 'bok...",40,39
4,4,4,4,0,QXAEGFB4oINsVuTFxEYKFQ,2,2011-03-21 14:39:55,1,RHhlmL07evgAdPaXQV8Omg,4.0,One of the gauges of a good Chinese restaurant...,2,6vU0I5XgCv9OQHZ76rV6qw,"['one', 'gauges', 'good', 'chinese', 'restaura...",320,"[('good', 'chinese'), ('chinese', 'restaurant'...","[('good', 'chinese', 'restaurant'), ('chinese'...",70,70
5,5,5,5,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-08-13 20:31:21,0,fhbL1BO2TCYKpoDLf-3mcg,4.0,"I've been a frequent at this place for years, ...",0,nyL_LfmAaf15o8aj7WHnPw,"['frequent', 'place', 'years', 'enough', 'mana...",331,"[('years', 'enough'), ('managers', 'pretty'), ...","[('years', 'enough', 'that'), ('managers', 'pr...",75,75
6,6,6,6,0,QXAEGFB4oINsVuTFxEYKFQ,0,2015-02-17 00:10:02,0,TD5E5NTFqgi1LPbTLlRCjQ,3.0,We chose this restaurant for our Chinese New Y...,0,-ga7pQvnJcMB1_pIapHQRQ,"['chose', 'restaurant', 'chinese', 'new', 'yea...",78,"[('chinese', 'new'), ('new', 'year'), ('year',...","[('chinese', 'new', 'year'), ('new', 'year', '...",12,12
7,7,7,7,0,QXAEGFB4oINsVuTFxEYKFQ,0,2017-01-02 20:32:29,0,4Sg_ziTcrYlGO0dVyj2V3g,1.0,I went at 230 on a Monday. It was dimsum \r\r\...,2,agqWketq-FhYwVmRyli4jA,"['went', '230', 'monday', 'dimsum', 'hated', '...",92,"[('hated', 'every'), ('every', 'second'), ('go...","[('hated', 'every', 'second'), ('every', 'seco...",18,17
8,8,8,8,0,QXAEGFB4oINsVuTFxEYKFQ,1,2016-01-18 17:49:39,0,PNF0KXB9-RJMveiLvgkASw,3.0,My family and I were at Emerald yesterday duri...,0,02AgiiwLg_XAhkvG-wGZKQ,"['family', 'emerald', 'yesterday', 'busiest', ...",232,"[('emerald', 'yesterday'), ('busiest', 'point'...","[('emerald', 'yesterday', 'during'), ('busiest...",38,37
9,9,9,9,0,QXAEGFB4oINsVuTFxEYKFQ,0,2015-08-20 03:31:45,0,ijWqxLnjOo9LZpxOVGgCnw,4.0,"Because we are in Mississauga, I think this pl...",0,paYZw5wsS25IzzBZtijB8A,"['mississauga', 'think', 'place', 'pretty', 'g...",85,"[('pretty', 'good'), ('good', 'compare'), ('di...","[('pretty', 'good', 'compare'), ('good', 'comp...",12,12
10,10,10,10,0,QXAEGFB4oINsVuTFxEYKFQ,2,2010-11-23 00:21:58,2,XhiI-xp5px7y4LD6MwVq_w,3.0,"Whenever I go here on the weekend, this place ...",2,nCqOSH2I6-k93B04FwouIA,"['whenever', 'go', 'weekend', 'place', 'super'...",101,"[('super', 'busy'), ('busy', 'expect'), ('30',...","[('super', 'busy', 'expect'), ('busy', 'expect...",25,24
11,11,11,11,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-05-21 01:44:12,0,OYFb7vlzXWgz-Z_iYaQGMA,4.0,Came on a weekday morning with bf to avoid the...,0,U-L3aXEkYzDX5J8w8lLbCQ,"['came', 'weekday', 'morning', 'bf', 'avoid', ...",109,"[('weekday', 'morning'), ('weekend', 'crowds')...","[('weekday', 'morning', 'with'), ('weekend', '...",46,45
12,12,12,12,0,QXAEGFB4oINsVuTFxEYKFQ,1,2015-02-24 04:32:58,0,_Hr9z8pJ5nZSf7FS1O8ujw,2.0,"Despite the poor service here, my family comes...",2,R-xGsTpwlwuOe_vAbg_aeA,"['despite', 'poor', 'service', 'family', 'come...",146,"[('poor', 'service'), ('family', 'comes'), ('s...","[('poor', 'service', 'here'), ('family', 'come...",27,27
13,13,13,13,0,QXAEGFB4oINsVuTFxEYKFQ,0,2017-01-29 07:31:32,0,j9xTUEolkpMI50WOLvUEAg,4.0,The dimsum here is actually alright. Food was ...,0,Y598FH7fNMq45DkVSbN0DA,"['dimsum', 'actually', 'alright', 'food', 'goo...",40,"[('actually', 'alright'), ('alright', 'food'),...","[('actually', 'alright', 'food'), ('alright', ...",16,16
14,14,14,14,0,QXAEGFB4oINsVuTFxEYKFQ,0,2015-02-17 03:18:47,0,Trb6SxeyGqzHHZtbqLKpZw,3.0,This is one of the few bigger chinese restaura...,1,KmHtoogKhK-ID7FWGOPvag,"['one', 'bigger', 'chinese', 'restaurants', 'm...",123,"[('bigger', 'chinese'), ('chinese', 'restauran...","[('bigger', 'chinese', 'restaurants'), ('chine...",30,29
15,15,15,15,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-06-01 16:58:27,0,zhYqq-c9omXwOnfxh5g1GA,4.0,"We have been going here to eat for years, whet...",0,7szRk9_Fs68aJrb04r-sbQ,"['going', 'eat', 'years', 'whether', 'celebrat...",67,"[('years', 'whether'), ('regular', 'night'), (...","[('years', 'whether', 'it'), ('regular', 'nigh...",14,13
16,16,16,16,0,QXAEGFB4oINsVuTFxEYKFQ,2,2011-01-13 22:58:57,0,kni1Q2VAuZna3p0Jop1YzA,4.0,"Good dim sum, not too expensive, out in Missis...",2,o_DeoZ0Ogu32D18cgEDkbA,"['good', 'dim', 'sum', 'not', 'expensive', 'mi...",247,"[('good', 'dim'), ('dim', 'sum'), ('sum', 'not...","[('good', 'dim', 'sum'), ('dim', 'sum', 'not')...",72,72
17,17,17,17,0,QXAEGFB4oINsVuTFxEYKFQ,0,2018-07-26 22:23:30,0,MhuRz9wWERmap05ECZKsYw,4.0,Traditional and authentic Dim Sum!!! I couldn'...,0,7DBDjEN6SnVgLe5zWOe-FA,"['traditional', 'authentic', 'dim', 'sum', 'co...",60,"[('authentic', 'dim'), ('dim', 'sum'), ('carts...","[('authentic', 'dim', 'sum'), ('dim', 'sum', '...",18,17
18,18,18,18,0,QXAEGFB4oINsVuTFxEYKFQ,0,2017-01-04 16:00:18,0,i7zfeCV-KEmr9uZmBYDnWw,1.0,"Poor service, overpriced food. Make sure to c...",0,U6m0prDFGql_LkXredF0-A,"['poor', 'service', 'overpriced', 'food', 'mak...",29,"[('poor', 'service'), ('service', 'overpriced'...","[('poor', 'service', 'overpriced'), ('service'...",13,12
19,19,19,19,0,QXAEGFB4oINsVuTFxEYKFQ,0,2018-01-11 14:15:37,0,xIiX1MXo9SMFNbJ7gOuGog,2.0,This is the second time I've ever been here an...,1,79Oujo22kxeFf_d9sz1F3g,"['second', 'time', 'ever', 'quickly', 'reminde...",165,"[('second', 'time'), ('time', ""i've""), (""i've""...","[('second', 'time', ""i've""), ('time', ""i've"", ...",24,23
20,20,20,20,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-05-20 23:30:30,0,_qJ9rMhcgjKQq-4vxVrI5A,4.0,"Food is really good, the place is super busy d...",0,fQk7tJKxXhc9S8vEZwRYCA,"['food', 'really', 'good', 'place', 'super', '...",35,"[('really', 'good'), ('super', 'busy'), ('stil...","[('really', 'good', 'the'), ('super', 'busy', ...",4,4
21,21,21,21,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-07-05 18:41:47,1,0XEFiYDD7cbL0KiUFEbJng,3.0,"We saw that the rating was not that high, but ...",0,g9xWuPtBrZ7ajjESXHgQYg,"['saw', 'rating', 'not', 'high', 'decided', 's...",176,"[('chinese', 'restaurants'), ('great', 'food')...","[('chinese', 'restaurants', 'with'), ('great',...",34,34
22,22,22,22,0,QXAEGFB4oINsVuTFxEYKFQ,0,2018-02-12 06:10:50,0,MiH7vIJPxuX2NQjCj6Mcjw,1.0,My family(15+ ppl) and I came yesterday to cel...,0,ytEi22nfhGNHZxfzLRRj3w,"['family', '15+', 'ppl', 'came', 'yesterday', ...",189,"[('family', '15'), ('15', 'ppl'), ('came', 'ye...","[('family', '15', 'ppl'), ('15', 'ppl', 'and')...",40,40
23,23,23,23,0,QXAEGFB4oINsVuTFxEYKFQ,0,2013-10-05 23:11:09,1,gJxfIV-zBJvbJQjFs9SMJw,2.0,I would say Emeralds has worsen over a period ...,1,0mjFS4eWKJCYwBwO7DU8jw,"['would', 'say', 'emeralds', 'worsen', 'period...",88,"[('would', 'say'), ('say', 'emeralds'), ('mont...","[('would', 'say', 'emeralds'), ('say', 'emeral...",16,15
24,24,24,24,0,QXAEGFB4oINsVuTFxEYKFQ,2,2010-11-28 21:40:03,1,rmMBG0JTQ4LpKqzUjtVCFA,4.0,The dim sum here is really good. There was a ...,3,QWSiTs6VS6BDraj-j9huAg,"['dim', 'sum', 'really', 'good', 'huge', 'line...",149,"[('dim', 'sum'), ('really', 'good'), ('huge', ...","[('dim', 'sum', 'here'), ('really', 'good', 't...",26,26
25,25,25,25,0,QXAEGFB4oINsVuTFxEYKFQ,0,2013-09-06 02:16:34,0,za9t9Gxy8H6smd2XaJVZ0g,1.0,I've been here a quite a few times over the la...,1,PkRFSQgSfca9Tamq7b2LdQ,"['quite', 'times', 'last', 'two', 'three', 'ye...",166,"[('last', 'two'), ('three', 'years'), ('defini...","[('last', 'two', 'or'), ('three', 'years', 'an...",26,25
26,26,26,26,0,QXAEGFB4oINsVuTFxEYKFQ,0,2016-10-03 00:54:44,0,4hovZy4AmWIjPJyRaDJOFg,2.0,"I usually come here when nothing else is open,...",0,yCtAc7BXSYdHWQYSvsGrFw,"['usually', 'come', 'nothing', 'else', 'open',...",50,"[('usually', 'come'), ('nothing', 'else'), ('o...","[('usually', 'come', 'here'), ('nothing', 'els...",17,16
27,27,27,27,0,QXAEGFB4oINsVuTFxEYKFQ,1,2016-07-17 21:23:36,0,BudsQ3Tt4XRr-zgFjJrTFg,2.0,I usually really like the dim sum here but my ...,1,zWWcik1fRPZviBCQLC26FQ,"['usually', 'really', 'like', 'dim', 'sum', 'l...",309,"[('usually', 'really'), ('really', 'like'), ('...","[('usually', 'really', 'like'), ('really', 'li...",73,73
28,28,28,28,0,QXAEGFB4oINsVuTFxEYKFQ,0,2015-05-15 04:51:38,0,o_rC-cT2uN3IP2c4HUkzdw,3.0,Food was awesome but the service was horrible....,0,9R_WvU71wwV9mMSHhATfbg,"['food', 'awesome', 'service', 'horrible', 'fe...",31,"[('felt', 'like'), ('hunt', 'someone'), ('orde...","[('felt', 'like', 'i'), ('hunt', 'someone', 'd...",7,7
29,29,29,29,0,QXAEGFB4oINsVuTFxEYKFQ,1,2012-04-06 01:48:04,1,fMeZdr4RkMDCWUqwLKOboA,4.0,This is THE place for Dim Sum in Mississauga. ...,2,kxXr01bsJDQ_OdNWVZafGA,"['place', 'dim', 'sum', 'mississauga', 'not', ...",193,"[('dim', 'sum'), ('huge', 'line'), ('weekends'...","[('dim', 'sum', 'in'), ('huge', 'line', 'up'),...",44,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261536,261536,261536,261536,4431,3rHMaoarZ13Qrafr2DeFcA,1,2014-01-03 17:55:16,0,GLz1EuRqplZiDWGjRZM5dA,5.0,"Wow,, Nice food.. the fish pakora is to die fo...",0,hC36y79O6XAt5pDWGomUnQ,"['wow', 'nice', 'food..', 'fish', 'pakora', 'd...",82,"[('wow', 'nice'), ('nice', 'food'), ('fish', '...","[('wow', 'nice', 'food'), ('nice', 'food', 'th...",13,12
261537,261537,261537,261537,4431,3rHMaoarZ13Qrafr2DeFcA,0,2015-01-09 00:33:37,0,mgleyEF3ViyMMpYMUM9luw,5.0,After a year i have yet to be disappointed by ...,0,2uoQbePwGv9RupGchFvrWg,"['year', 'yet', 'disappointed', 'quality', 'fo...",140,"[('excellent', 'service'), ('zen', 'since'), (...","[('excellent', 'service', 'at'), ('zen', 'sinc...",32,32
261538,261538,261538,261538,4431,3rHMaoarZ13Qrafr2DeFcA,0,2013-03-25 14:49:09,0,KnDqynVNbkLbvVtPTDCliQ,4.0,"This is my updated review, after returning sev...",3,UF7FVT5BFjU2C7nvJNjlRA,"['updated', 'review', 'returning', 'several', ...",54,"[('updated', 'review'), ('returning', 'several...","[('updated', 'review', 'after'), ('returning',...",22,21
261539,261539,261539,261539,4431,3rHMaoarZ13Qrafr2DeFcA,0,2015-08-01 02:01:19,0,bJm0lZOB5jqPmd-ElcP1xQ,5.0,"Excellent service, truely some of the best foo...",0,P5pFQsOsrGElKO-RftE2vw,"['excellent', 'service', 'truely', 'best', 'fo...",23,"[('excellent', 'service'), ('service', 'truely...","[('excellent', 'service', 'truely'), ('service...",8,8
261540,261540,261540,261540,4431,3rHMaoarZ13Qrafr2DeFcA,0,2012-11-16 17:57:38,0,ya9YEEJvR-2A-YqiyEyurA,3.0,This place is a direct competitor to Tangerine...,1,UF7FVT5BFjU2C7nvJNjlRA,"['place', 'direct', 'competitor', 'tangerine',...",200,"[('direct', 'competitor'), ('tangerine', 'asia...","[('direct', 'competitor', 'to'), ('tangerine',...",49,48
261541,261541,261541,261541,4431,3rHMaoarZ13Qrafr2DeFcA,1,2015-08-12 07:02:51,0,O5qCIfZ5wXZ94gzB_bB_2A,4.0,"Pretty good service, Ive been to the Zen a tot...",1,PfSsgF-mkdXjs8Q3CAScaA,"['pretty', 'good', 'service', 'ive', 'zen', 't...",316,"[('pretty', 'good'), ('good', 'service'), ('se...","[('pretty', 'good', 'service'), ('good', 'serv...",58,58
261542,261542,261542,261542,4431,3rHMaoarZ13Qrafr2DeFcA,0,2018-09-07 01:50:36,0,nimMsW4x6iNezLKrCYnK9g,3.0,Just tried a couple of times and the food is p...,0,XF8xkT6kEy55mfseabs8Tw,"['tried', 'couple', 'times', 'food', 'pretty',...",33,"[('pretty', 'good'), ('good', 'definitely'), (...","[('pretty', 'good', 'definitely'), ('good', 'd...",6,6
261543,261543,261543,261543,4431,3rHMaoarZ13Qrafr2DeFcA,0,2016-03-13 13:40:06,1,qIo3Sca-1v98nM1xNj5aaA,5.0,Excellent Thai food! The place itself is smal...,0,AsYpcDETMAwA8UTWT5Mfvw,"['excellent', 'thai', 'food', 'place', 'small'...",60,"[('excellent', 'thai'), ('thai', 'food'), ('sm...","[('excellent', 'thai', 'food'), ('thai', 'food...",16,15
261544,261544,261544,261544,4431,3rHMaoarZ13Qrafr2DeFcA,0,2014-07-24 04:31:53,0,vXwI980dDGymW92uLOaCJg,1.0,I was really excited when this place opened up...,0,vXLYDvRAvoCe1Q5Co51m8w,"['really', 'excited', 'place', 'opened', 'thai...",253,"[('really', 'excited'), ('place', 'opened'), (...","[('really', 'excited', 'when'), ('place', 'ope...",67,66
261545,261545,261545,261545,4431,3rHMaoarZ13Qrafr2DeFcA,0,2017-06-16 17:26:55,0,d3vO0A5cU5oyqWuniggSnQ,3.0,Just went here for lunch today. I ordered the ...,1,5n-djStWDx1WYaPMNCK_lw,"['went', 'lunch', 'today', 'ordered', 'bombay'...",124,"[('lunch', 'today'), ('bombay', 'chicken'), ('...","[('lunch', 'today', 'i'), ('bombay', 'chicken'...",37,37
261546,261546,261546,261546,4431,3rHMaoarZ13Qrafr2DeFcA,0,2013-05-27 00:56:06,1,op946ZPTZEep58zJMm55dg,2.0,The only thing postive was the large portions....,0,qASBhiR0HzW7XlkfgNBv6g,"['thing', 'postive', 'large', 'portions', 'pad...",31,"[('thing', 'postive'), ('large', 'portions'), ...","[('thing', 'postive', 'was'), ('large', 'porti...",6,6
261547,261547,261547,261547,4431,3rHMaoarZ13Qrafr2DeFcA,0,2016-12-17 14:34:30,0,-IODcpBVNbuwP3tPPM3wlg,4.0,We order from here a fair bit. The Thai food i...,0,qGX-0dkV1qcMflWtcDpgQQ,"['order', 'fair', 'bit', 'thai', 'food', 'okay...",48,"[('fair', 'bit'), ('thai', 'food'), ('hakka', ...","[('fair', 'bit', 'the'), ('thai', 'food', 'is'...",13,12
261548,261548,261548,261548,4431,3rHMaoarZ13Qrafr2DeFcA,0,2014-04-13 00:41:41,2,vO7eCfK5pYc0ZYmR0OVlJw,1.0,I'm just so sad. I've tried every approximatio...,2,YhtJmlqYxFNmgcidFkoitQ,"['sad', 'tried', 'every', 'approximation', 'th...",205,"[('sad', ""i've""), (""i've"", 'tried'), ('tried',...","[('sad', ""i've"", 'tried'), (""i've"", 'tried', '...",58,57
261549,261549,261549,261549,4431,3rHMaoarZ13Qrafr2DeFcA,0,2016-02-22 02:26:10,0,C2XuB6PEShDx7uL9G3S5dg,3.0,Decent food. Good portions for the prices we p...,0,GbD0DFH_8TpP3oUvp19TkQ,"['decent', 'food', 'good', 'portions', 'prices...",242,"[('decent', 'food'), ('food', 'good'), ('good'...","[('decent', 'food', 'good'), ('food', 'good', ...",52,52
261550,261550,261550,261550,4432,sVEE_Mp3EbWW1UIhfActVA,0,2014-08-11 01:50:17,0,uUNLZo5mCX1cuX8nPWlUqA,3.0,Ordered over the phone and said it was gonna b...,1,rByZEXA8CQABIEII8Jbmhg,"['ordered', 'phone', 'said', 'gon', 'na', 'rea...",91,"[('ready', 'already'), ('already', 'nice'), ('...","[('ready', 'already', 'nice'), ('already', 'ni...",16,15
261551,261551,261551,261551,4432,sVEE_Mp3EbWW1UIhfActVA,0,2016-11-12 15:40:05,0,md4cuQX3ul6ODsqn4wbVUw,3.0,"This is a 3.5, not a 3.0. It's a nice take out...",0,xnLliq9Majlk9i0Orf7Iig,"['3.5', 'not', '3.0.', 'nice', 'take', 'place'...",342,"[('3', '5'), ('5', 'not'), ('3', '0'), ('nice'...","[('3', '5', 'not'), ('5', 'not', 'a'), ('3', '...",67,66
261552,261552,261552,261552,4432,sVEE_Mp3EbWW1UIhfActVA,0,2016-12-22 00:49:39,0,Fd9KMfTOLzNpZVuZgQrJkw,3.0,I think the prices are fair for the amount of ...,0,yPIjsjSLpr2aI3mZ7ARI9g,"['think', 'prices', 'fair', 'amount', 'food', ...",105,"[('dinner', 'combos'), ('extra', 'chicken'), (...","[('dinner', 'combos', 'which'), ('extra', 'chi...",16,16
261553,261553,261553,261553,4432,sVEE_Mp3EbWW1UIhfActVA,0,2018-05-02 00:30:41,0,OZ4HfecmRdM0fqB2ewYIGA,1.0,This place is pretty gross. The chef kept wipi...,0,XYVElZV_ejNcxjvCmHNKfQ,"['place', 'pretty', 'gross', 'chef', 'kept', '...",34,"[('pretty', 'gross'), ('chef', 'kept'), ('kept...","[('pretty', 'gross', 'the'), ('chef', 'kept', ...",7,6
261554,261554,261554,261554,4432,sVEE_Mp3EbWW1UIhfActVA,0,2012-03-12 03:31:14,0,qhjGScrGZHFr4PHZY-W4DA,4.0,We have ordered from The King's Kitchen three ...,1,zPjkAWtejtSihZBQRzgsnw,"['ordered', 'king', 'kitchen', 'three', 'times...",161,"[(""king's"", 'kitchen'), ('kitchen', 'three'), ...","[(""king's"", 'kitchen', 'three'), ('kitchen', '...",40,40
261555,261555,261555,261555,4432,sVEE_Mp3EbWW1UIhfActVA,0,2017-09-16 21:42:46,0,cKg4TEMGY-0vL079w9r4rQ,5.0,Love this place! The food is delicious and fre...,0,lAShpsRAP8NUB5bmvTWdyw,"['love', 'place', 'food', 'delicious', 'fresh'...",66,"[(""can't"", 'go'), ('go', 'wrong'), ('awesome',...","[(""can't"", 'go', 'wrong'), ('go', 'wrong', 'wi...",15,14
261556,261556,261556,261556,4432,sVEE_Mp3EbWW1UIhfActVA,2,2016-08-20 19:33:54,1,HEIFNXVwTgc4OqCApMMQag,3.0,"Being new to the area, I've come a couple time...",2,LiNx18WUre9WFCEQlUhtKA,"['new', 'area', 'come', 'couple', 'times', 'ki...",123,"[('area', ""i've""), (""i've"", 'come'), ('couple'...","[('area', ""i've"", 'come'), (""i've"", 'come', 'a...",26,26
261557,261557,261557,261557,4432,sVEE_Mp3EbWW1UIhfActVA,0,2012-05-14 01:28:46,0,ZvfwBAzChbjZw1DxgMvweg,2.0,I'm surprised by all the good reviews. We orde...,1,-_2h2cJlBOWAYrfplMU-Cg,"['surprised', 'good', 'reviews', 'ordered', 's...",89,"[(""i'm"", 'surprised'), ('good', 'reviews'), ('...","[(""i'm"", 'surprised', 'by'), ('good', 'reviews...",23,22
261558,261558,261558,261558,4432,sVEE_Mp3EbWW1UIhfActVA,1,2014-04-10 21:13:25,0,3dCjPMGsaUUZTqWjIMQ_1Q,3.0,This is a run-of-the-mill Thai take-out restau...,2,dn56tvnl3NIWcAE5-r-oJw,"['run-of-the-mill', 'thai', 'take-out', 'resta...",119,"[('mill', 'thai'), ('thai', 'take'), ('north',...","[('mill', 'thai', 'take'), ('thai', 'take', 'o...",20,20
261559,261559,261559,261559,4432,sVEE_Mp3EbWW1UIhfActVA,1,2011-02-12 23:47:11,0,PZ93PJSfP7xkF3dHSzx36g,4.0,One of my favourite fast food/take-out places ...,0,n59W9qVHr7kKkMM0ZCspWg,"['one', 'favourite', 'fast', 'food/take-out', ...",213,"[('favourite', 'fast'), ('fast', 'food'), ('fo...","[('favourite', 'fast', 'food'), ('fast', 'food...",43,43
261560,261560,261560,261560,4432,sVEE_Mp3EbWW1UIhfActVA,0,2012-04-19 16:51:12,0,rxIutr9v-fo80bErOFapeQ,4.0,Lunch combos are alight for 5 dollar without a...,0,bKY48K9mRGqsEfzi4xyi0Q,"['lunch', 'combos', 'alight', '5', 'dollar', '...",55,"[('lunch', 'combos'), ('5', 'dollar'), ('dolla...","[('lunch', 'combos', 'are'), ('5', 'dollar', '...",12,12
261561,261561,261561,261561,4432,sVEE_Mp3EbWW1UIhfActVA,0,2014-09-08 01:26:46,1,O_-iIAmlNs7VusSsp46jtw,2.0,This was one of the first authentic Chinese fo...,1,kqQXnNyixCCoz36lLO8_3w,"['one', 'first', 'authentic', 'chinese', 'food...",55,"[('first', 'authentic'), ('authentic', 'chines...","[('first', 'authentic', 'chinese'), ('authenti...",14,13
261562,261562,261562,261562,4433,h3QErqS3OZgLJ5Tb6-sLyQ,0,2015-08-08 20:35:32,0,NKLZGOVeSL-VnR6ZYx-P0g,4.0,Wendy the server is a charmer. She remembers e...,0,Fr4IO1woSA7LHvs3-Aqzjw,"['wendy', 'server', 'charmer', 'remembers', 'e...",31,"[('remembers', 'everyone'), ('everyone', 'best...","[('remembers', 'everyone', 'best'), ('everyone...",6,6
261563,261563,261563,261563,4433,h3QErqS3OZgLJ5Tb6-sLyQ,0,2017-04-23 20:31:53,0,9GJPd_4QNRWSWtVqvLSmaw,4.0,Excellent food and service!\r\r\r\nNot too gre...,0,Ms8fa3P1DB8tn9xe4xUOdw,"['excellent', 'food', 'service', 'not', 'greas...",21,"[('excellent', 'food'), ('service', 'not'), ('...","[('excellent', 'food', 'and'), ('service', 'no...",5,4

In [2]:
#24 2-grams phrases
phrases_2 = [('dim','sum'), ('fried','rice'), ('orange', 'chicken'), ('chow', 'mein'), ('pad', 'thai'), ('sour', 'soup'), ('hot', 'pot'), ('spring', 'rolls'), ('lo', 'mein'), ('bbq', 'pork'), ('mongolian', 'beef'), ('egg', 'roll'), ('wonton', 'soup'), ('soy', 'sauce'), ('ice', 'cream'), ('pork', 'belly'), ('milk', 'tea'), ('fried', 'chicken'),  ('sour', 'chicken'), ('white', 'rice'), ('sesame', 'chicken'), ('chicken', 'wings'), ('peking', 'duck'), ('bubble', 'tea')]

In [3]:
#10 3-grams phrases
phrases_3 = [('egg', 'drop', 'soup'), ('beef', 'noodle', 'soup'), ('kung', 'pao', 'chicken'), ('chicken', 'fried', 'rice'), ('pork', 'fried', 'rice'), ('black', 'bean', 'sauce'), ('shrimp', 'fried', 'rice'), ('xiao', 'long', 'bao'), ('egg', 'foo', 'young'), ('dan', 'dan', 'noodles')]

In [5]:
len(phrases_3)

10

In [5]:
#88183 has keyword "service"
data_service = []
for i in file["text_token"]:
    if "service" in i:
        data_service.append(1)
    else:
        data_service.append(0)

In [6]:
#read the csv get the string, thus convert the string to list
import ast
bigram = file["bigram"]
bigram_token = bigram.tolist()
bigram_token = [ast.literal_eval(review) for review in bigram_token]

In [7]:
trigram = file["trigram"]
trigram_token = trigram.tolist()
trigram_token = [ast.literal_eval(review) for review in trigram_token]

In [8]:
#data of phrases
data_phrases_2 = []

for i in bigram_token:
    score = []
    for phrase in phrases_2:
        if phrase in i:
            score.append(1)
        else:
            score.append(0)
    
    data_phrases_2.append(score)
    
data_phrases_3 = []

for i in trigram_token:
    score = []
    for phrase in phrases_3:
        if phrase in i:
            score.append(1)
        else:
            score.append(0)
    
    data_phrases_3.append(score)

In [9]:
#combine the data
#100 thousands data are all zero
data = []
length = len(data_service)
for i in range(0, length):
    score = []
    score = [data_service[i]] + data_phrases_2[i] + data_phrases_3[i]
    data.append(score)

In [10]:
#indentify if "dimsum" in the review
for i in range(0,len(data)):
    if "dimsum" in file["text_token"][i]: data[i][1] = 1

# 2. Fit all data in different Classifier

In [13]:
#fit in the linear regression
import numpy as np
from sklearn.linear_model import LinearRegression

In [14]:
X = np.array(data)
Y = file["stars"]

In [15]:
m = LinearRegression().fit(X,Y)

In [16]:
m.score(X,Y)

0.006957340279816759

In [17]:
m.intercept_

3.502259816282746

In [116]:
m.coef_

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.])

In [19]:
name = ["service"] + phrases_2 + phrases_3
print(name)

['service', ('dim', 'sum'), ('fried', 'rice'), ('orange', 'chicken'), ('chow', 'mein'), ('pad', 'thai'), ('sour', 'soup'), ('hot', 'pot'), ('spring', 'rolls'), ('lo', 'mein'), ('bbq', 'pork'), ('mongolian', 'beef'), ('egg', 'roll'), ('wonton', 'soup'), ('soy', 'sauce'), ('ice', 'cream'), ('pork', 'belly'), ('milk', 'tea'), ('fried', 'chicken'), ('sour', 'chicken'), ('white', 'rice'), ('sesame', 'chicken'), ('chicken', 'wings'), ('peking', 'duck'), ('bubble', 'tea'), ('egg', 'drop', 'soup'), ('beef', 'noodle', 'soup'), ('kung', 'pao', 'chicken'), ('chicken', 'fried', 'rice'), ('pork', 'fried', 'rice'), ('black', 'bean', 'sauce'), ('shrimp', 'fried', 'rice'), ('xiao', 'long', 'bao'), ('egg', 'foo', 'young'), ('dan', 'dan', 'noodles')]

In [20]:
index = []
for i in range(0,35):
    if m.coef_[i] < -0.2 :
        index.append(i)
print(index)
print([name[i] for i in index])

[12, 14, 20]
[('egg', 'roll'), ('soy', 'sauce'), ('white', 'rice')]

In [21]:
#fit in the logistic regression
from sklearn.linear_model import LogisticRegressionCV

In [22]:
clf = LogisticRegressionCV(cv=5, random_state=0,multi_class='multinomial').fit(X, Y)

In [23]:
clf.coefs_paths_

{1.0: array([[[-2.04139051e-02, -6.77440578e-02, -3.12997566e-02, ...,
           4.45617948e-04, -7.01235435e-03, -2.13623190e-01],
         [-4.22962774e-02, -2.55350087e-01, -1.08045670e-01, ...,
           4.18057860e-03, -4.96561407e-02, -1.71458308e-01],
         [-4.53450770e-02, -4.19089396e-01, -1.58514351e-01, ...,
           3.39798961e-02, -2.52595501e-01, -1.24265347e-01],
         ...,
         [-4.45006779e-02, -4.67716532e-01, -1.77431830e-01, ...,
           1.46067039e-01, -9.46643176e-01, -9.63728511e-02],
         [-4.44978140e-02, -4.67727323e-01, -1.77436644e-01, ...,
           1.46067966e-01, -9.46689563e-01, -9.63549466e-02],
         [-4.45005272e-02, -4.67731514e-01, -1.77438972e-01, ...,
           1.46068247e-01, -9.46704900e-01, -9.63590227e-02]],

        [[-1.30729855e-02, -6.68423736e-02, -3.41310246e-02, ...,
          -2.42295268e-04, -6.04454187e-03, -2.16150304e-01],
         [-2.93892961e-02, -2.55703573e-01, -1.14223479e-01, ...,
          -2.16717833e-04, -4.32826248e-02, -1.76287087e-01],
         [-3.11150694e-02, -4.22694770e-01, -1.63473287e-01, ...,
           1.48286878e-02, -2.27712897e-01, -1.30568620e-01],
         ...,
         [-2.98253970e-02, -4.73282962e-01, -1.80162460e-01, ...,
           1.00539304e-01, -9.00921757e-01, -1.02779498e-01],
         [-2.98143895e-02, -4.73280907e-01, -1.80172450e-01, ...,
           1.00538787e-01, -9.00934646e-01, -1.02776716e-01],
         [-2.97983824e-02, -4.73276644e-01, -1.80192590e-01, ...,
           1.00537692e-01, -9.00961265e-01, -1.02781879e-01]],

        [[-1.66395052e-02, -6.91645612e-02, -3.58066854e-02, ...,
          -1.66938375e-04, -7.31950058e-03, -2.14520874e-01],
         [-3.51477896e-02, -2.65507668e-01, -1.21004850e-01, ...,
           1.63926187e-04, -5.18323439e-02, -1.72728359e-01],
         [-3.75442377e-02, -4.43671323e-01, -1.75874935e-01, ...,
           1.31101201e-02, -2.61177584e-01, -1.25023020e-01],
         ...,
         [-3.65433579e-02, -4.98049414e-01, -1.95384226e-01, ...,
           8.37519806e-02, -9.69402712e-01, -9.73994005e-02],
         [-3.65432356e-02, -4.98077029e-01, -1.95381563e-01, ...,
           8.37521611e-02, -9.69438769e-01, -9.74014992e-02],
         [-3.65422886e-02, -4.98090652e-01, -1.95380153e-01, ...,
           8.37522717e-02, -9.69457266e-01, -9.73999852e-02]],

        [[-2.01486213e-02, -6.64998561e-02, -3.59232318e-02, ...,
           3.29718130e-04, -7.99276044e-03, -2.13753600e-01],
         [-4.25013169e-02, -2.56883153e-01, -1.20655551e-01, ...,
           3.63838175e-03, -5.60898488e-02, -1.71801080e-01],
         [-4.54863676e-02, -4.27970341e-01, -1.77953240e-01, ...,
           2.98103247e-02, -2.74550515e-01, -1.25660333e-01],
         ...,
         [-4.42554206e-02, -4.78871628e-01, -2.03036330e-01, ...,
           1.16725544e-01, -9.72431669e-01, -9.83711606e-02],
         [-4.41808033e-02, -4.79628818e-01, -2.02890411e-01, ...,
           1.16692292e-01, -9.73614517e-01, -9.83859833e-02],
         [-4.41628716e-02, -4.79608054e-01, -2.02902776e-01, ...,
           1.16691562e-01, -9.73637628e-01, -9.83539423e-02]],

        [[-2.01348773e-02, -7.69767386e-02, -3.26893969e-02, ...,
           1.94099676e-04, -6.86450575e-03, -2.13443508e-01],
         [-4.23431778e-02, -2.93556026e-01, -1.12726177e-01, ...,
           2.58038068e-03, -4.85662269e-02, -1.70943566e-01],
         [-4.55593161e-02, -4.92570894e-01, -1.68111673e-01, ...,
           2.68014548e-02, -2.44911797e-01, -1.24379783e-01],
         ...,
         [-4.47103948e-02, -5.55214417e-01, -1.89585466e-01, ...,
           1.34128181e-01, -9.00278523e-01, -9.70134213e-02],
         [-4.47196809e-02, -5.55210980e-01, -1.89601722e-01, ...,
           1.34127980e-01, -9.00291056e-01, -9.70108341e-02],
         [-4.47359852e-02, -5.55203887e-01, -1.89636232e-01, ...,
           1.34127598e-01, -9.00319248e-01, -9.69990351e-02]]]),
 2.0: array([[[ 1.25708228e-02,  6.05789537e-03,  1.52416209e-02, ...,
          -2.60658294e-03, -2.07263949e-04, -5.84145638e-01],
         [ 2.75656064e-02,  3.47520222e-02,  5.12990437e-02, ...,
          -1.95301739e-02, -9.75661066e-04, -5.96546502e-01],
         [ 3.41925268e-02,  8.25553660e-02,  6.49747823e-02, ...,
          -1.08353429e-01,  6.18963173e-03, -6.07736289e-01],
         ...,
         [ 3.57777031e-02,  1.01346374e-01,  7.02097591e-02, ...,
          -3.61025484e-01,  1.45128083e-01, -6.12095345e-01],
         [ 3.57771152e-02,  1.01377503e-01,  7.02255204e-02, ...,
          -3.61032238e-01,  1.45142742e-01, -6.12068579e-01],
         [ 3.57723681e-02,  1.01385504e-01,  7.02287984e-02, ...,
          -3.61034499e-01,  1.45147544e-01, -6.12072560e-01]],

        [[ 2.12374413e-02,  7.11177954e-03,  1.03262975e-02, ...,
          -2.37068912e-03,  1.08161947e-03, -5.86442628e-01],
         [ 4.62258707e-02,  3.91237475e-02,  3.61519269e-02, ...,
          -1.74448370e-02,  8.33760157e-03, -6.00347731e-01],
         [ 5.60418399e-02,  9.29548940e-02,  4.63778804e-02, ...,
          -9.39893099e-02,  5.48982582e-02, -6.10835584e-01],
         ...,
         [ 5.82407609e-02,  1.15058044e-01,  5.25269671e-02, ...,
          -2.97121636e-01,  2.79292233e-01, -6.15365419e-01],
         [ 5.82367895e-02,  1.15054378e-01,  5.25193976e-02, ...,
          -2.97123070e-01,  2.79296353e-01, -6.15362330e-01],
         [ 5.82287624e-02,  1.15047667e-01,  5.25044754e-02, ...,
          -2.97126044e-01,  2.79304850e-01, -6.15358287e-01]],

        [[ 1.52081095e-02,  4.95989102e-03,  9.48738263e-03, ...,
          -2.51138254e-03,  7.75304358e-05, -5.84198664e-01],
         [ 3.33902200e-02,  3.07139416e-02,  3.25785059e-02, ...,
          -1.87483993e-02,  1.15396182e-03, -5.95388484e-01],
         [ 4.09606895e-02,  7.80002157e-02,  3.90848917e-02, ...,
          -1.03654425e-01,  1.82873249e-02, -6.04762841e-01],
         ...,
         [ 4.28372684e-02,  9.76071473e-02,  4.47732988e-02, ...,
          -3.32834015e-01,  1.80582107e-01, -6.08369440e-01],
         [ 4.28434813e-02,  9.76181568e-02,  4.47659580e-02, ...,
          -3.32837671e-01,  1.80593705e-01, -6.08342602e-01],
         [ 4.28411971e-02,  9.76222341e-02,  4.47612036e-02, ...,
          -3.32839575e-01,  1.80599610e-01, -6.08342298e-01]],

        [[ 1.84559328e-02,  5.30281082e-03,  1.37364950e-02, ...,
          -2.25446864e-03, -2.77258057e-05, -5.86036568e-01],
         [ 4.10154076e-02,  3.07248911e-02,  4.60159370e-02, ...,
          -1.70002561e-02,  5.75528595e-04, -6.01084942e-01],
         [ 5.02579259e-02,  7.77596509e-02,  5.72448758e-02, ...,
          -9.33757976e-02,  1.72545124e-02, -6.13822080e-01],
         ...,
         [ 5.25141813e-02,  9.80160225e-02,  6.37318493e-02, ...,
          -2.93917900e-01,  1.78706213e-01, -6.19033449e-01],
         [ 5.25950220e-02,  9.85469103e-02,  6.42748555e-02, ...,
          -2.93973782e-01,  1.79041332e-01, -6.19032191e-01],
         [ 5.25464344e-02,  9.85274831e-02,  6.42398270e-02, ...,
          -2.93975254e-01,  1.79047981e-01, -6.19143476e-01]],

        [[ 1.90652618e-02,  4.19354797e-03,  1.15944263e-02, ...,
          -3.12237174e-03,  1.48317315e-04, -5.85642823e-01],
         [ 4.24059994e-02,  2.96798737e-02,  3.88913295e-02, ...,
          -2.32733854e-02,  1.61167572e-03, -5.99013159e-01],
         [ 5.20193549e-02,  8.00478247e-02,  4.70610395e-02, ...,
          -1.27838718e-01,  2.02589953e-02, -6.09095842e-01],
         ...,
         [ 5.42320928e-02,  1.01357635e-01,  5.14833916e-02, ...,
          -4.31323556e-01,  1.81332576e-01, -6.12681709e-01],
         [ 5.42296784e-02,  1.01364269e-01,  5.14799447e-02, ...,
          -4.31326399e-01,  1.81336354e-01, -6.12675547e-01],
         [ 5.42232339e-02,  1.01377638e-01,  5.14721024e-02, ...,
          -4.31332798e-01,  1.81344844e-01, -6.12665611e-01]]]),
 3.0: array([[[ 0.04938322,  0.07851036,  0.01579914, ..., -0.00280966,
           0.00112654, -0.17363826],
         [ 0.08877795,  0.26464217,  0.0555484 , ..., -0.0187968 ,
           0.00878815, -0.21061744],
         [ 0.09556008,  0.38098521,  0.08932889, ..., -0.08247462,
           0.05620579, -0.23998312],
         ...,
         [ 0.09544738,  0.40689822,  0.10770174, ..., -0.16202082,
           0.24800485, -0.25549954],
         [ 0.09544239,  0.40691533,  0.10770558, ..., -0.1620193 ,
           0.24801661, -0.25553919],
         [ 0.09544978,  0.40692138,  0.1077086 , ..., -0.16201874,
           0.24802058, -0.25552902]],

        [[ 0.04824866,  0.08422702,  0.01453217, ..., -0.00312344,
           0.00198857, -0.17347638],
         [ 0.08413078,  0.28611832,  0.05196218, ..., -0.02110034,
           0.01468378, -0.21064404],
         [ 0.08891002,  0.41260441,  0.08144915, ..., -0.09494799,
           0.07960995, -0.2410833 ],
         ...,
         [ 0.08811235,  0.44054114,  0.09602634, ..., -0.20195701,
           0.27851947, -0.2570331 ],
         [ 0.08810452,  0.44054881,  0.09603989, ..., -0.20195716,
           0.27852313, -0.25703204],
         [ 0.08809001,  0.44056517,  0.09606635, ..., -0.20195751,
           0.27853069, -0.25703309]],

        [[ 0.04439722,  0.07077951,  0.01486976, ..., -0.00239243,
           0.0015981 , -0.17121974],
         [ 0.07891207,  0.24590538,  0.05404841, ..., -0.01590133,
           0.01211378, -0.20579247],
         [ 0.08401729,  0.36182565,  0.0846361 , ..., -0.06676332,
           0.06990721, -0.23555133],
         ...,
         [ 0.08353453,  0.38843128,  0.09710162, ..., -0.11556492,
           0.27013708, -0.2511373 ],
         [ 0.08352923,  0.38845573,  0.09710098, ..., -0.11556378,
           0.27014644, -0.25115454],
         [ 0.08353089,  0.38846729,  0.09710168, ..., -0.11556316,
           0.27015129, -0.25115287]],

        [[ 0.04798429,  0.07848605,  0.01406635, ..., -0.00219267,
           0.00159152, -0.17249449],
         [ 0.08463613,  0.26780448,  0.05024   , ..., -0.01430201,
           0.01179985, -0.20764539],
         [ 0.08962962,  0.38658834,  0.08143798, ..., -0.05897196,
           0.06619269, -0.23580179],
         ...,
         [ 0.08894833,  0.4123236 ,  0.09808455, ..., -0.10229659,
           0.25518823, -0.25078287],
         [ 0.08899131,  0.41217406,  0.09783528, ..., -0.1023647 ,
           0.25544295, -0.25077204],
         [ 0.08901918,  0.41218933,  0.09785427, ..., -0.10236542,
           0.25544807, -0.25073396]],

        [[ 0.04702273,  0.07325156,  0.01653514, ..., -0.0026211 ,
           0.00115229, -0.17220073],
         [ 0.08358885,  0.25503703,  0.05851381, ..., -0.01758774,
           0.00865831, -0.20771846],
         [ 0.08948593,  0.37752189,  0.09410004, ..., -0.0742269 ,
           0.05151789, -0.23743584],
         ...,
         [ 0.08920026,  0.40662822,  0.11146519, ..., -0.1239315 ,
           0.21911756, -0.25316705],
         [ 0.08921543,  0.40662817,  0.11146999, ..., -0.12393137,
           0.2191206 , -0.25317439],
         [ 0.08924497,  0.40662641,  0.11148053, ..., -0.12393105,
           0.21912745, -0.25318833]]]),
 4.0: array([[[-7.72493849e-03,  9.03296631e-02,  2.76900344e-02, ...,
           2.32185180e-04,  2.15631432e-03,  4.13874465e-01],
         [-2.10134753e-02,  2.40858733e-01,  6.57914231e-02, ...,
           1.97601473e-03,  1.51855818e-02,  3.92727762e-01],
         [-2.74088776e-02,  3.15192163e-01,  8.16061987e-02, ...,
           2.24510382e-02,  7.24045842e-02,  3.70672133e-01],
         ...,
         [-2.90604452e-02,  3.31869156e-01,  8.48422386e-02, ...,
           1.00272441e-01,  2.40832361e-01,  3.59973487e-01],
         [-2.90751499e-02,  3.31847578e-01,  8.48197253e-02, ...,
           1.00270493e-01,  2.40840983e-01,  3.59932338e-01],
         [-2.90588911e-02,  3.31845646e-01,  8.48185870e-02, ...,
           1.00270066e-01,  2.40844021e-01,  3.59970511e-01]],

        [[-1.18534544e-02,  9.31480728e-02,  3.20399210e-02, ...,
           4.35888526e-04,  1.94300965e-03,  4.15125979e-01],
         [-2.96578593e-02,  2.52642542e-01,  7.85531383e-02, ...,
           2.90912611e-03,  1.31149258e-02,  3.95454782e-01],
         [-3.72976408e-02,  3.34119805e-01,  1.00164374e-01, ...,
           2.62333926e-02,  5.52318556e-02,  3.74182903e-01],
         ...,
         [-3.92749557e-02,  3.52649577e-01,  1.05281096e-01, ...,
           1.04625892e-01,  1.85413989e-01,  3.63686542e-01],
         [-3.92580434e-02,  3.52661688e-01,  1.05290347e-01, ...,
           1.04625504e-01,  1.85416905e-01,  3.63725901e-01],
         [-3.92737342e-02,  3.52675582e-01,  1.05296573e-01, ...,
           1.04624229e-01,  1.85422513e-01,  3.63683604e-01]],

        [[-1.08675150e-02,  9.00469239e-02,  3.01656459e-02, ...,
          -2.54672288e-04,  2.65187904e-03,  4.15026486e-01],
         [-2.63962166e-02,  2.45702290e-01,  7.57744557e-02, ...,
          -1.39038408e-03,  1.79970579e-02,  3.93964277e-01],
         [-3.32660470e-02,  3.25471819e-01,  9.70731165e-02, ...,
           1.08837164e-02,  7.75652099e-02,  3.71309932e-01],
         ...,
         [-3.51012736e-02,  3.43797083e-01,  1.02143819e-01, ...,
           7.66694719e-02,  2.43425272e-01,  3.60448387e-01],
         [-3.51196798e-02,  3.43789054e-01,  1.02136825e-01, ...,
           7.66662230e-02,  2.43432249e-01,  3.60402414e-01],
         [-3.51028479e-02,  3.43790576e-01,  1.02139770e-01, ...,
           7.66648215e-02,  2.43436075e-01,  3.60442351e-01]],

        [[-7.25374989e-03,  7.73637540e-02,  3.33445504e-02, ...,
          -7.49216203e-04,  2.89318353e-03,  4.14152425e-01],
         [-2.11393352e-02,  2.12932524e-01,  7.85611967e-02, ...,
          -5.33003383e-03,  1.94287597e-02,  3.93929077e-01],
         [-2.80047822e-02,  2.83899932e-01,  9.86232117e-02, ...,
          -9.61910165e-03,  8.31137781e-02,  3.72847016e-01],
         ...,
         [-3.01030578e-02,  2.99578597e-01,  1.04280278e-01, ...,
           2.65807190e-02,  2.49321490e-01,  3.62697606e-01],
         [-3.01907782e-02,  2.99932506e-01,  1.03893871e-01, ...,
           2.65050912e-02,  2.49563047e-01,  3.62643143e-01],
         [-3.01809046e-02,  2.99912375e-01,  1.03907706e-01, ...,
           2.65044271e-02,  2.49567913e-01,  3.62643844e-01]],

        [[-7.73192072e-03,  1.00681419e-01,  3.01582142e-02, ...,
           5.17342779e-04,  2.69543555e-03,  4.13382915e-01],
         [-2.24556703e-02,  2.73413814e-01,  7.59020857e-02, ...,
           3.99011552e-03,  1.81268801e-02,  3.91814137e-01],
         [-2.95870144e-02,  3.62081884e-01,  1.01177102e-01, ...,
           3.28860807e-02,  7.82726731e-02,  3.69724007e-01],
         ...,
         [-3.12916910e-02,  3.83066598e-01,  1.09334878e-01, ...,
           1.26486659e-01,  2.34688376e-01,  3.58927683e-01],
         [-3.13135751e-02,  3.83064751e-01,  1.09335849e-01, ...,
           1.26486239e-01,  2.34690592e-01,  3.58878337e-01],
         [-3.12989695e-02,  3.83072686e-01,  1.09352675e-01, ...,
           1.26485924e-01,  2.34696172e-01,  3.58920820e-01]]]),
 5.0: array([[[-0.0338152 , -0.10715386, -0.02743104, ...,  0.00473844,
           0.00393676,  0.55753263],
         [-0.0530338 , -0.28490284, -0.0645932 , ...,  0.03217038,
           0.02665807,  0.58589449],
         [-0.05699865, -0.35964334, -0.07739552, ...,  0.13439711,
           0.1177955 ,  0.60131262],
         ...,
         [-0.05766396, -0.37239722, -0.08532191, ...,  0.27670682,
           0.31267788,  0.60399425],
         [-0.05764654, -0.37241309, -0.08531418, ...,  0.27671308,
           0.31268923,  0.60403038],
         [-0.05766273, -0.37242101, -0.08531701, ...,  0.27671492,
           0.31269275,  0.60399009]],

        [[-0.04455966, -0.1176445 , -0.02276736, ...,  0.00530053,
           0.00103134,  0.56094334],
         [-0.0713095 , -0.32218103, -0.05244377, ...,  0.03585277,
           0.00714632,  0.59182408],
         [-0.07653915, -0.41698434, -0.06451811, ...,  0.14787522,
           0.03797284,  0.6083046 ],
         ...,
         [-0.07725276, -0.4349658 , -0.07367194, ...,  0.29391345,
           0.15769607,  0.61149148],
         [-0.07726887, -0.43498397, -0.07367718, ...,  0.29391594,
           0.15769825,  0.61144518],
         [-0.07724666, -0.43501177, -0.07367481, ...,  0.29392164,
           0.15770321,  0.61148965]],

        [[-0.03209831, -0.09662176, -0.01871611, ...,  0.00532542,
           0.00299199,  0.55491279],
         [-0.05075828, -0.25681395, -0.04139652, ...,  0.03587619,
           0.02056754,  0.57994503],
         [-0.0541677 , -0.32162636, -0.04491917, ...,  0.1464239 ,
           0.09541784,  0.59402726],
         ...,
         [-0.05472716, -0.33178609, -0.04863451, ...,  0.28797749,
           0.27525825,  0.59645776],
         [-0.0547098 , -0.33178591, -0.0486222 , ...,  0.28798307,
           0.27526637,  0.59649622],
         [-0.05472695, -0.33178945, -0.0486225 , ...,  0.28798564,
           0.27527029,  0.5964528 ]],

        [[-0.03903785, -0.09465275, -0.02522416, ...,  0.00486664,
           0.00353579,  0.55813224],
         [-0.06201089, -0.25457874, -0.05416159, ...,  0.03299392,
           0.02428572,  0.58660234],
         [-0.0663964 , -0.32027759, -0.05935283, ...,  0.13215653,
           0.10798953,  0.60243718],
         ...,
         [-0.06710404, -0.33104659, -0.06306035, ...,  0.25290823,
           0.28921573,  0.60548987],
         [-0.06721475, -0.33102466, -0.06311359, ...,  0.2531411 ,
           0.28956719,  0.60554707],
         [-0.06722184, -0.33102113, -0.06309902, ...,  0.25314468,
           0.28957367,  0.60558753]],

        [[-0.0382212 , -0.10114979, -0.02559838, ...,  0.00503203,
           0.00286847,  0.55790414],
         [-0.061196  , -0.26457469, -0.06058105, ...,  0.03429063,
           0.02016936,  0.58586105],
         [-0.06635895, -0.3270807 , -0.07422651, ...,  0.14237808,
           0.09486224,  0.60118746],
         ...,
         [-0.06743026, -0.33583804, -0.08269799, ...,  0.29464021,
           0.26514001,  0.60393449],
         [-0.06741185, -0.33584621, -0.08268406, ...,  0.29464355,
           0.26514351,  0.60398244],
         [-0.06743325, -0.33587284, -0.08266908, ...,  0.29465033,
           0.26515078,  0.60393216]]])}

In [24]:
clf.intercept_

array([-0.10297981, -0.61278166, -0.25122295,  0.36276882,  0.6042156 ])

In [25]:
index_1 = []
for i in range(0,35):
    if clf.coef_[0][i] > 0.05 :
        index_1.append(i)
print(index_1)
print([name[i] for i in index_1])

[3, 14, 19, 20, 29, 31, 33]
[('orange', 'chicken'), ('soy', 'sauce'), ('sour', 'chicken'), ('white', 'rice'), ('pork', 'fried', 'rice'), ('shrimp', 'fried', 'rice'), ('egg', 'foo', 'young')]

In [27]:
index_2 = []
for i in range(0,35):
    if clf.coef_[1][i] > 0.15:
        index_2.append(i)
print(index_2)
print([name[i] for i in index_2])

[5, 12, 14, 20, 27]
[('pad', 'thai'), ('egg', 'roll'), ('soy', 'sauce'), ('white', 'rice'), ('kung', 'pao', 'chicken')]

In [28]:
index_5 = []
for i in range(0,35):
    if clf.coef_[4][i] < -0.3 :
        index_5.append(i)
print(index_5)
print([name[i] for i in index_5])

[1, 12, 14, 17, 20]
[('dim', 'sum'), ('egg', 'roll'), ('soy', 'sauce'), ('milk', 'tea'), ('white', 'rice')]

In [29]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier(n_estimators= 100, random_state=0)

In [30]:
clf2.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [31]:
index_rf = []
for i in range(0,35):
    if clf2.feature_importances_[i] < 0.015 :
        index_rf.append(i)
print(index_rf)
print([name[i] for i in index_rf])

[24, 32, 34]
[('bubble', 'tea'), ('xiao', 'long', 'bao'), ('dan', 'dan', 'noodles')]

# 3. Fit  in different business

In [135]:
business_id = file["business_id"]

In [33]:
business_index = list(file["business_index"])

In [34]:
dataset = []
labelset = []
for i in range(0,4434):
    data_sub = []
    label_sub = []
    num = 0
    for business in business_index:
        if business == i:
            data_sub.append(data[num])
            label_sub.append(Y[num])
        num += 1
    dataset.append(data_sub)
    labelset.append(label_sub)

In [156]:
#how many restaurants reviews < 10
index_fewreview = []
count = 0
for i in labelset:
    if len(i)<3:
        index_fewreview.append(count)
    count += 1

In [157]:
len(index_fewreview)

0

In [69]:
#let rate 4,5 be 1 and 1,2,3 be 0
label = []
for i in labelset:
    element = []
    for n in i:
        if n>3:
            element.append(1)
        else:
            element.append(0)
    label.append(element)

In [100]:
#Experience
X = np.array(dataset[0])
Y = np.array(label[0])
from sklearn.linear_model import LogisticRegressionCV
clf = LogisticRegressionCV(cv=2, random_state=0,multi_class='multinomial').fit(X, Y)

In [101]:
clf.coef_[0]

array([-0.59601777,  0.61226433, -0.41955043,  0.        ,  0.32467737,
        0.        , -0.15005746,  0.        ,  0.78720705,  0.        ,
        0.30882777,  0.        ,  0.        , -0.40429811,  0.        ,
        0.        ,  0.87292006,  0.        ,  0.        ,  1.21858315,
       -0.08405735,  0.        , -0.15005746,  0.87292006,  0.56694641,
        0.        ,  0.        , -0.39772168, -0.36405547,  0.        ,
        1.10779117,  0.        , -0.8413538 ,  0.        ,  0.        ])

In [83]:
index_1 = []
for i in range(0,35):
    if clf.coef_[0][i] > 0.05 :
        index_1.append(i)
print(index_1)
print([name[i] for i in index_1])

35

In [152]:
# give the result of each business
name_high = []
name_low = []
service_with = []

for x,y in zip(dataset, label):
    
    X = np.array(x)
    Y = np.array(y)
    clf = LinearRegression().fit(X,Y)
    #clf = LogisticRegressionCV(cv=2, random_state=0,multi_class='multinomial').fit(X, Y)
    index_max = clf.coef_[1:].argmax()
    name_high.append(name[index_max+1])
    
    index_min = clf.coef_[1:].argmin()
    name_low.append(name[index_min+1])
    
    if clf.coef_[0] < 0:
        service_with.append(1)
        # 1 means service needs to be improved
    else:
        service_with.append(0)

In [128]:
name_high[0:10]

[('sour', 'chicken'),
 ('bbq', 'pork'),
 ('egg', 'roll'),
 ('dim', 'sum'),
 ('spring', 'rolls'),
 ('orange', 'chicken'),
 ('egg', 'roll'),
 ('beef', 'noodle', 'soup'),
 ('dim', 'sum'),
 ('wonton', 'soup')]

In [127]:
sum(service_with)

1991

In [137]:
from collections import OrderedDict
business_id = list(OrderedDict.fromkeys(business_id))

In [144]:
import pandas as pd
data = {"business_id":business_id, "high_food": name_high, "low_food" : name_low, "service" : service_with }
df = pd.DataFrame(data)

In [153]:
df.head()

              business_id        high_food           low_food  service
0  QXAEGFB4oINsVuTFxEYKFQ  (sour, chicken)  (xiao, long, bao)        1
1  e_EMySqP0uwlVZfd8mRaaQ      (bbq, pork)     (peking, duck)        1
2  44YFU284Z3KDEy25QyVoUw      (egg, roll)       (soy, sauce)        1
3  X8mtoSxY8whtmbDlj0D3Aw       (dim, sum)         (dim, sum)        0
4  MhnihE0alud0ereVInSt8Q  (spring, rolls)       (sour, soup)        1

In [148]:
df.to_csv("Food.csv", encoding="utf-8", index = False)